@import '../global.css';

#banner {
  background:url("../../assets/bg/diagonal_bg_shop.svg") left center no-repeat #E6E6E6;
  min-height:150px;
  color:#808080;
  text-align:center;
  box-shadow:var(--defaultShadow);

  & > div {
    margin:0 auto;
    padding-top:50px;

    & h3 {
      font-weight:bold;
      font-style:italic;
      margin:0;
    }

    & p {
      font-size:14pt;
      color:#999;
    }

    & span {
      color:#3896f4;
    }
  }
}
