@import '../global.css';

#banner {
  background:url("../../assets/bg/diagonal_bg_shop.svg") left center no-repeat #E6E6E6;
  min-height:150px;
  color:#808080;
  text-align:center;
  box-shadow:var(--defaultShadow);
  box-sizing: border-box;

  & > div {
    margin:0 auto;
    padding-top:45px;

    & h2 {
      font-weight:bold;
      margin:0;
    }

    & p {
      font-size:14pt;
      color:#999;
      margin-top:10px;
    }

    & span {
      color:#3896f4;
    }
  }
}

@media (width <= 600px) {
  #banner {
    min-height:100px;
    & > div {
      padding-top:27px;
      & h2 {
        font-size: 14pt;
      }
      & p {
        font-size: 12pt;
      }
    }
  }
}

@media (width <= 400px) {
  #banner {
    min-height:100px;
    & > div {
      padding-top:27px;
      & h2 {
        font-size: 12pt;
      }
      & p {
        font-size: 10pt;
      }
    }
  }
}
