@import '../global.css';

#campaign {
  position:relative;
  background-repeat:no-repeat;
  background-size: cover;
  height:600px;
  box-sizing:border-box;
  padding:100px 5% 0 5%;

  & .lostWrapper {
    width:100%;
    lost-utility:clearfix;
    & > div {
      height:400px;
      lost-column:8/10 0;
      & h1 {
        margin-bottom:20pt;
      }
    }
    & > div:nth-of-type(2) {
      lost-column:2/10 0;
      position:relative;

      & button {
        position: absolute;
        bottom:0;
        right:0;
      }
    }
  }
}

/* responsive */
@media (width <= 1280px) {
  #campaign {
    height:400px;
  }
}
