@import '../global.css';
@lost gutter 6%;

#checkout {
  lost-utility:clearfix;
  lost-center:80%;
  padding:80px 0;
  box-sizing: border-box;

    /* First column contains some info text */
    & > section:nth-of-type(1) {
      lost-column:1/4;
      font-size:12pt;
      margin-top:90px;
      line-height: 1.5;
        & h4 {
          margin-top:10px;
        }
    }

    /* Second column contains the shopping cart and payment info */
    & > section:nth-of-type(2) {
      lost-column:3/4;

        & #cart {
          lost-utility:clearfix;
          margin:40px 0;

          /* The items of the shopping cart, contains 4 lost columns */
          & .item {
            lost-utility:clearfix;
            background:#F2F2F2;
            lost-row:1 20px;

              & .image {
                lost-column:2/11 0 0;

                  & figure {
                    width:100px;
                    height:100px;
                    margin:0;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                  }
              }
              & .info {
                padding-top:12px;
                lost-column:4/11;

                  & p {
                    font-size:14pt;
                  }
              }
              & .quantity {
                lost-column:3/11;
                padding-top:18px;

                  /* The plus and minus boxes */
                  & span {
                    width:25px;
                    height:25px;
                    background:#4D4D4D;
                    font-size:18pt;
                    font-weight: bold;
                    color:white;
                    cursor:pointer;
                    user-select:none;
                    line-height: 0.8;
                    float:left;
                    text-align: center;
                    margin-top:10px;
                  }
                  & span:nth-of-type(2) {
                    line-height: 1;
                    margin-left:20px;
                  }
                  & span:hover {
                    background:#333;
                  }
                  & span:active{
                    background:#1A1A1A;
                  }
              }
              & .price {
                lost-column:2/11;
                padding-top:37px;
                text-align: center;
                  & h4 {
                    font-weight:bold;
                  }
              }
           }

           & .total {
             float:right;
             margin-right:4%;
           }
        }

        & #delivery {
          lost-utility:clearfix;
          background:#F2F2F2;
          padding:25px 40px 35px 60px;
          margin:0 0 80px 0;

            & h2 {
              margin-bottom:30px;
            }
            & > div {
              lost-row:1/2 0 20px;
              margin:20px 0;

                & input[type=radio] {
                  outline:0;
                  border:0;
                  text-decoration:none;
                  width:20px;
                  height:20px;
                  float:left;
                  margin-right:40px;
                }
            }
        }

        & #klarna {
        }
    }
}

@media (width <= 1030px) {
  #checkout {
    lost-center:90%;
      & section:nth-of-type(2) {
        & #cart {
           & .item {
             & .image {
               lost-column:1/4;
             }
             & .info {
               lost-column:1/4;
             }
             & .quantity {
               lost-column:1/4;
             }
             & .price {
               lost-column:1/4;
             }
           }
         }
      }
  }
}

@media (width <= 700px) {
  #checkout {
      & section:nth-of-type(1) {
        lost-waffle:1 0 40px;
      }
      & section:nth-of-type(2) {
        lost-waffle:1 0 40px;
      }
  }
}

@media (width <= 500px) {
  #checkout {
      & section:nth-of-type(2) {
        & #cart {
          & .item {
              & .image {
                lost-waffle:1/2;
              }
              & .info {
                lost-waffle:1/2;
              }
              & .quantity {
                lost-waffle:1/2;
              }
              & .price {
                lost-waffle:1/2;
              }
          }
        }

        & #delivery {
          padding:15px;

          & p {
            font-size:12pt;
          }
        }
      }
  }
}
