@import '../global.css';

#menu {
  color:white;
  lost-utility:clearfix;
  text-align: center;
  cursor:pointer;
  background-color:var(--orange);

    /* the menu items */
    & > div {
      height:45px;
      padding-top: 15px;
      box-sizing:border-box;
      lost-column:1/7 0 0;
      user-select:none;
      background-color:var(--orange);
    }
    & > div:hover {
      background-color: #892C12;
    }
    & > div:hover section {
      display: block;
    }

    /* the drop down container*/
    & section {
      display: none;
      position:absolute;
      margin-top:15px;
      width:40%;
      z-index:2;
      text-transform: capitalize;
    }
    & > div:nth-child(6) section {
      right:16.7%;
    }
    & > div:last-child section {
      right:0;
    }
    /* the drop down elements */
    & section > div {
      height:50px;
      padding-top: 15px;
      box-sizing:border-box;
      lost-column: 1/2 0 0;
      float:left;
      background-color: rgba(30,30,30,0.9);
    }
    & section > div:hover {
      background-color: rgba(10,10,10,0.9);
    }
    & .active {
      background:color(#FD551F shade(20%));
    }
}

/* responsive */
@media (width >= 435px) and (width <= 1024px) {
  #menu > div {
    lost-column: 1/3 0 0;
  }

  #menu section > div {
    lost-column: 1 0 0;
  }
  #menu > div:nth-child(3) section {
    right:0;
  }
  #menu > div:nth-child(5) section {
    left:33.333%;
  }
  #menu > div:last-child section {
    right:0;
  }
}

@media (max-width: 435px) {
  #menu > div {
    lost-column: 1/2 0 0;
  }

  #menu section > div {
    lost-column: 1 0 0;
  }
  #menu div:nth-child(5) section {
    left:0;
  }
  #menu div:nth-child(2n) section {
    right:0;
  }
}
