@import '../global.css';
@lost gutter 15px;
#products {
  lost-center:90%;
  lost-utility:clearfix;
  padding:60px 0 40px 0;
  box-sizing:border-box;
  /* 1st lost column, the subcategory list */
  & > section:nth-of-type(1) {
    lost-column: 1/5 0;
  }

  /* 2nd column, the products */
  & > section:nth-of-type(2) {
    lost-column: 4/5 0;

    /* Products */
    & #productlist1 {
      lost-utility:clearfix;
      width:100% !important;
      & > div {
        lost-waffle:1/4;
        box-sizing: border-box;
        background:#F7F7F7;
        & h4 {
          margin:20px 10px 0 10px;
          height:40px;
          overflow: hidden;
          cursor:pointer;
          text-transform: capitalize;
        }
        & p {
          margin:0 10px;
          height:70px;
          font-size:10pt;
          font-style:italic;
          overflow:hidden;
        }
        & > span {
          font-size:12pt;
          font-weight:bold;
          margin:0 10px 10px 10px;
        }
        & figure {
          width:100%;
          height:200px;
          background-size:contain;
          background-repeat:no-repeat;
          background-position: center;
          cursor:pointer;
        }

        & .buy-btn {
          & span {
            height:45px;
            font-size:12pt;
            font-weight:bold;
          }
          & span {
            padding-top:13px;
          }
          & span:nth-of-type(2) {
            color:white;
          }
        }
      }
    }
  }
}
/* The buy button */
.buy-btn {
  background:#C6E3E5;
  width:100%;
  margin:0 50px 0 0;
  cursor:pointer;
  position:relative;
  user-select:none;

  /* Each span is a column */
  & span {
    background:#C6E3E5;
    lost-column:1/2 0 0;
    font-size:18pt;
    height:50px;
    box-sizing: border-box;
    text-align:center;
    padding:11px 0 9px 0;
  }

  & span:nth-of-type(2) {
    background:#235177;
    padding-top:7px;
    & figure {
      background:url(../../assets/icons/webshop/cart.svg);
      width:34px;
      height:31px;
      margin:2px auto 0 auto;
    }
  }
}

.buy-btn:hover {
  & span:nth-of-type(1) {
    background:color(#C6E3E5 shade(10%));
  }
  & span:nth-of-type(2) {
    background:color(#235177 shade(30%));
  }
}

/* Responsive */
@media (width <= 1024px) {
  #products {
    & > section:nth-of-type(2) {
      & > div {
        width:100%;
        & #productlist1 {
          & > div {
            lost-waffle:1/3 3;
          }
        }
      }
    }
  }
}
@media (width <= 800px) {
  #products {
    & > section:nth-of-type(1) {
      lost-waffle:1;
    }
    & > section:nth-of-type(2) {
      lost-waffle:1;
      & #productlist1 {
        & > div {
          lost-waffle:1/2 2;
        }
      }
    }
  }
}

@media (width <= 600px) {
  #products {
    & > section:nth-of-type(2) {
      & > div {
        & #productlist1 {
          & > div {
            lost-waffle:1/2;
          }
        }
      }
    }
  }
}

@media (width <= 430px) {
  #products {
    & > section:nth-of-type(2) {
      & > div {
        & #productlist1 {
          & > div {
            lost-waffle:1;
          }
        }
      }
    }
  }
}
