@import '../global.css';

#searchBar {
  margin: 0 0 25px 0;
  lost-center:50%;
  lost-utility:clearfix;

  & div:nth-of-type(1) {
    lost-column:9/10 0 0;

    & input {
      box-sizing: border-box;
      padding: 10px 15px;
      background-color: lightgrey;
      border: none;
      width:100%;
      height:40px;
    }
  }

  & > div:nth-of-type(2) {
    lost-column:1/10 0 0;
    & figure {
      background: url('../../assets/buttons/search_button.svg') no-repeat;
      width:65px;
      height: 40px;
    }
    & figure:hover {
      background: url('../../assets/buttons/search_button_h.svg') no-repeat;
    }
    & figure:active {
      background: url('../../assets/buttons/search_button_a.svg') no-repeat;
    }
  }
}

@media (width <= 500px) {
  .searchBar {
    lost-center:90%;
    & > div:nth-of-type(1) {
      lost-column:7/10 0 0;
    }
    & > div:nth-of-type(2) {
      lost-column:3/10 0 0;
    }
  }
}
