@import '../global.css';

#topSellers {
  min-height:350px;
  text-align:center;
  padding-top:15px;

  & h4 {
    margin-bottom:10px;
  }

  & #products {
    box-sizing: border-box;

      & #productListTopSellers {
        lost-center: 70%;

        /* Lost items, the starred products */
        & > div {
          lost-column:1/4 0 30px;
          min-width:200px;
          margin-bottom:20px;
          box-sizing: border-box;

          /* Images */
          & figure {
            min-height:200px;
            width:100%;
            margin-bottom:20px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }

          /* Red text */
          & span {
            position: absolute;
            margin-top:-130px;
            min-width:100px;
            background: url("../../assets/arrows/redArrow.svg") no-repeat;
            color:white;
            font-size:22px;
            font-weight:bold;
            padding:2px 20px 5px 12px;
          }
        }
      }
    }
}

/* responsive */
@media (width >= 435px) and (width <= 1024px) {
  #topSellers #products > div {
    lost-column:1/2 2 10px;
  }
}

@media (max-width: 435px) {
  #topSellers #products > div {
    lost-column:1;
  }
}
