@import '../global.css';

* {
  //lost-utility: edit;
}



.searchBar {
  height: 50px;
  display: flex;
  justify-content: center;

  & img {
   height: 50px;
   display: inline;
  }

  & input {
    box-sizing: border-box;
    padding: 10px;
    width: 650px;
    background-color: lightgrey;
    border: none;
  }
}

.features {
  margin: 0 auto;
  background-color: #EEEEEE;
  height: 350px;

  & img {
    height: 50px;
  }
}

.iconContainer {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
}

.circle {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background-color: #7ba6ad;
}
