@import '../global.css';

.searchBar {
  height: 45px;
  margin: 15px 0 25px 0;
  display: flex;
  justify-content: center;

  & figure {
    background: url('../../assets/buttons/search_button.svg') no-repeat;
    width:81px;
    height: 45px;
  }
  & figure:hover {
    background: url('../../assets/buttons/search_button_h.svg') no-repeat;
  }
  & figure:active {
    background: url('../../assets/buttons/search_button_a.svg') no-repeat;
  }
  & input {
    box-sizing: border-box;
    padding: 10px 15px;
    width: 600px;
    background-color: lightgrey;
    border: none;
  }
}
