@import '../global.css';
* {
  //lost-utility:edit;
}
#features {
    text-align:center;

    & h2 {
      font-style:normal;
      padding:40px 0 0 0;
      margin:0;
    }

    & section  {
      lost-utility:clearfix;
      padding:40px 0 20px 0;
      box-sizing:border-box;

        & > div {
          padding-bottom:30px;
        }

        & img {
          height: 50px;
        }

        & h3 {
          font-style:italic;
        }

        & p {
          font-size:14pt;
          padding:0 50px;
        }
    }
}

#four {
  lost-center:70%;

  & > div {
    lost-column:1/4 4;
  }
}

#three {
  lost-center:90%;

  & > div {
    lost-column:1/3 3;
  }

  & img {
    margin-bottom:15px;
  }

  & .tag {
    height:55px;
  }

  & .gauge {
    height:45px;
  }
}

.circle {
  margin: 0 auto 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background-color: #7ba6ad;
}

/* responsive */
@media (width >= 435px) and (width <= 1024px) {

  #features section > div {
    lost-column:1/2 2;
  }
}

@media (max-width: 435px) {
  #features section > div {
    lost-column:1;
  }
}
