@import '../global.css';

#features {
    text-align:center;
    padding:40px 0;

    & h3 {
      font-style:normal;
      margin:0 0 30px 0;
    }

    /* The elements */
    & section  {
      lost-utility:clearfix;
      box-sizing:border-box;

        & h3 {
          margin:10px 0;
          font-style:italic;
        }

        & p {
          font-size:12pt;
          padding:0 35px;
        }
    }

    & .circle {
      margin: 0 auto 20px auto;
      border-radius: 50%;
      box-sizing: border-box;
      width: 115px;
      height: 115px;
      background-color: #7ba6ad;
      position: relative;
    }
}

#four {
  lost-center:70%;

  & > div {
    lost-column:1/4 4;
  }
  & figure {
    height:60px;
    margin:auto;
    position: absolute 0 0;
  }
  & .shipping {
    background:url('../../assets/icons/webshop/shipping.svg') no-repeat;
    width:56px;
    height:45px;
  }
  & .warranty {
    background:url('../../assets/icons/webshop/warranty.svg') no-repeat;
    width:52px;
  }
  & .payment {
    background:url('../../assets/icons/webshop/payment.svg') no-repeat;
    width:74px;
    height:55px;
    left:5px;
    top:5px;
  }
  & .service {
    background:url('../../assets/icons/webshop/service.svg') no-repeat;
    width:80px;
    height:50px;
    top:8px;
  }
}

#three {
  lost-center:80%;

  & > div {
    lost-column:1/3 3;
  }
  & .landingThree {
    margin-bottom:20px;
  }
  & .thumb {
     background:url('../../assets/icons/landing_page/thumb_orange.svg') no-repeat;
     width:65px;
     height:58px;
     margin:5px auto 25px auto;
  }
  & .landingGauge {
    background:url('../../assets/icons/landing_page/gauge_orange.svg') no-repeat;
    width:100px;
    height:58px;
    margin:5px auto 25px auto;
  }
  & .stars {
    background:url('../../assets/icons/landing_page/stars_orange.svg') no-repeat;
    width:120px;
    height:58px;
    margin:5px auto 25px auto;
  }
  & img {
    margin-bottom:15px;
    height: 55px;
  }
  & .gauge {
    height:45px;
    margin-bottom:20px;
  }
  & .bathroomIcon {
    height:70px;
  }
  & .circle {
    background:#fff;
    height:140px;
    width:140px;
    padding-top:40px;
  }
}

/* responsive */
@media (width >= 435px) and (width <= 1024px) {

  #features section > div {
    lost-column:1/2 2;
  }

  #features #three > div {
    lost-column:1/3 0;
  }
}

@media (max-width: 650px) {
  #features #three > div {
    lost-column:1;
  }
}
@media (max-width: 435px) {
  #features section > div {
    lost-column:1;
    margin-bottom:40px;
  }
  #features section > div:last-of-type {
    margin-bottom:0;
  }
}
