@import '../../global.css';

#adminCampaign {
  lost-utility:clearfix;
  background-color: var(--lightGray);

  & .campaignImg {
    lost-column:3/4 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing:border-box;
    color:white;
    padding:40px 3%;
    margin-top:30px;

    /* The first section with the campaign */
    & .lostWrapper {
      width:100%;
      lost-utility:clearfix;
      position: relative;
      & input, & textarea {
        background:none;
        border:3px dashed white;
      }
      & input {
        font-size: 22pt;
        display:block;
        margin-bottom:20px;
        padding:5px 15px;
        min-width:40%;
      }
      & textarea {
        font-size:10pt;
        width:40%;
        max-width: 40%;
        min-width:40%;
        min-height:190px;
        padding:10px;
      }
      & .black {
        color:var(--darkGray);
      }
      & .white {
        color:white;
      }
    }
  }

  /* The second section with the upload buttons */
  & .buttons {
    lost-column:1/4 0 0;
    padding:30px 2%;
    box-sizing: border-box;
    background:var(--lightGray);
    clear:fix;
    margin-top:10px;

    & > div {
      margin-bottom:25px;
      & input {
        font-weight: bold;
        font-size: 12pt;
      }
      & button {
        padding:10px 20px;
      }
    }
    & .articleNrDiv {
      & input {
        margin-top:5px;
        padding:5px 12px;
        width:100%;
      }
    }
    & .textColorDiv {
      clear:fix;
      & > div {
        margin-top:10px;
        width:30px;
        height:30px;
        float:left;
        cursor:pointer;
        box-sizing:border-box;
        background:var(--darkGray);
      }
      & .white {
        background: white;
        margin-left:30px;
      }
      & .active {
        border:4px solid gold;
      }
    }
    & .status {
      margin:0;
      & p {
        font-size:12pt;
      }
      & p:last-of-type {
        height: 38px;
      }
    }
  }
}
