@import '../../global.css';

#campaignChooser {
  lost-center:90%;
  & > div {
    lost-waffle:1/8;
    & figure {
      background-size:contain;
      background-position:center;
      background-origin: border-box;
      width:130px;
      height:130px;
      cursor:pointer;
      box-sizing: border-box;
    }
    & .selected {
      border:6px solid var(--lightYellow);
    }
  }
}
