@import '../global.css';

#header {
  min-height: 95px;
  lost-center:90%;
  box-sizing: border-box;

  /* The left side contains the logo */
  & #left {
    lost-column:1/5 0 0;
    padding-top:10px;

    & span, & #logo {
      display: block;
      cursor: pointer;
    }
    & span {
      font-size:10pt;
      margin-bottom:10px;
    }
    & span:hover {
      color:#000;
    }
    & #logo {
      background:url("../../assets/logo/logo.svg") no-repeat;
      width:194px;
      height:23px;
    }
    & #backArrow {
      background: url('../../assets/arrows/small_backarrow.svg') no-repeat;
      width:6px;
      height:11px;
      float:left;
      margin:2px 7px 0 0;
    }
    & .alone {
      margin-top:25px;
    }
  }
  /* Right side contains the email icon, shoppingcart etc */
  & #right {
    lost-column:4/5 0 0;
    text-align: right;
    & > div {
      display:inline-block;
      margin-left: 50px;
      position:relative;
      clear:fix;

      & figure, & > div {
        float:left;
      }
    }
    & figure {
      margin:23px 25px 25px 0;
    }

    & #emailDiv {
      margin-left:0;
      text-align:left;
      & > div {
        padding-top:5px;
      }
      & figure {
        background: url('../../assets/icons/header/email_icon.svg') no-repeat;
        width:35px;
        height:26px;
      }
    }
    & #phoneDiv {
      & > div {
        padding-top:22px;
      }
      & figure {
        background: url('../../assets/icons/header/phone_icon.svg') no-repeat;
        width:30px;
        height:30px;
      }
    }
    & #shoppingCartDiv {
      padding-top:18px;

      & .shoppingCart {
        & .container {
          & > div {
            text-align: right;
            float:left;
            margin-left:10px;
          }
          & > div:last-of-type {
            font-weight: bold;
            text-align:left;
          }
        }
      }
      & figure {
        background: url('../../assets/icons/header/shoppingCart.svg') no-repeat;
        width: 35px;
        height: 32px;
        margin-top:0px;
      }
    }
    & #checkoutButtonDiv {
      font-size:10pt;
      padding-bottom:25px;
      & button {
        padding:10px 20px;
      }
    }

    & span {
      color:var(--darkGreen);
    }

    & .copyBtn {
      cursor:pointer;
      height:80px;
      width:90%;
      background:none;
      outline:none;
      border:none;
      position:absolute;
      top:0;
      right:-20px;
    }
  }
}
#webshopHeader, #landingPageHeader, #servicePageHeader, #galleryPageHeader {
  padding-top:15px;
}
#landingPageHeader, #servicePageHeader, #galleryPageHeader {
  box-shadow: 0 2px 15px #CCC;
}

/* responsive */
@media (width <= 1050px) {
  #webshopHeader {
    & #header {
      & #left {
        lost-waffle:1 0 20px;
      }
      & #right {
        lost-column:1;
        margin-bottom:20px;
        text-align: center;
        padding-left:10px;
      }
    }
  }
}

/* responsive */
@media (width <= 700px) {
  #landingPageHeader, #galleryPageHeader, #servicePageHeader {
    & #header {
      & #left {
        lost-waffle:1 0 20px;
      }
      & #right {
        lost-column:1;
        margin-bottom:20px;
        text-align: center;
        padding-left:10px;
      }
    }
  }
}
/* responsive */
@media (width <= 600px) {
  #header {
    & #right {
      padding:0;
      & #shoppingCartDiv {
        margin:0;
      }
    }
  }
}
@media (width <= 500px) {
  #header {
    & #left {
      & #logo {
        margin:auto;
      }
      & span {
        text-align:center;
      }
    }
    & #right {
      /* The lost items in the right column */
      & > div {
        lost-column:1;
        margin:20px 0;
        /* The inner div with text */
        & > div {
          float:none;
          text-align:center;
          margin-bottom:20px;
          & .copyBtn {
            left:0;
            width:100%;
            height:130px;
          }
        }
        & .shoppingCart {
          & .container {
            margin:20px auto 20px auto;
            clear:fix;
            width:125px;
          }
        }
        & figure {
          float:none;
          margin:0 auto;
        }
        & button {
          margin:auto;
        }
      }
      & #checkoutButtonDiv {
        padding:0;
      }
    }
  }
}
