@import '../global.css';

#header {
  min-height: 95px;
  lost-center:90%;
  box-sizing: border-box;

  /* The left side contains the logo */
  & #left {
    lost-column:2/7 0 0;
    padding-top:10px;

    & span, & #logo {
      display: block;
      cursor: pointer;
    }
    & span {
      font-size:10pt;
      margin-bottom:10px;
    }
    & span:hover {
      color:#000;
    }
    & #logo {
      background:url("../../assets/logo/logo.svg") no-repeat;
      width:220px;
      height:35px;
    }
    & #backArrow {
      background: url('../../assets/arrows/small_backarrow.svg') no-repeat;
      width:6px;
      height:11px;
      float:left;
      margin:2px 7px 0 0;
    }
    & .alone {
      margin-top:25px;
    }
  }
  /* Right side contains the email icon, shoppingcart etc */
  & #right {
    lost-column:5/7 0 0;
    & > div {
      lost-column:3/11;
      position:relative;
      & figure, & > div {
        float:right;
      }
    }
    & h4 {
      margin-bottom:5px;
    }
    /* E-mail */
    & > div:nth-of-type(1) {
      margin-top:-3px;
      & > div {
        padding-top:10px;
      }
    }
    /* Phone */
    & > div:nth-of-type(2) {
      margin-top:-5px;
      & > div {
        padding-top:25px;
      }
    }
    /* shopping cart */
    & > div:nth-of-type(3) {
      padding-top:18px;

      & .shoppingCart {
        & .container {
          & > div {
            text-align: right;
            float:left;
            margin-left:10px;
          }
          & > div:last-of-type {
            font-weight: bold;
            text-align:left;
          }
        }
      }
    }
    /* The checkout button */
    & > div:nth-of-type(4) {
      padding-top:15px;
      lost-column:2/11;
      font-size:10pt;
      & button {
        float:right;
      }
    }

    & p {
      font-size: 10pt;
    }

    & figure {
      margin:10% 10% 10% 0;
      float:left;
    }

    & span {
      color:var(--darkGreen);
    }

    & #email_icon {
      background: url('../../assets/icons/header/email_icon.svg') no-repeat;
      width:48px;
      height: 40px;
    }

    & #phone_icon {
      background: url('../../assets/icons/header/phone_icon.svg') no-repeat;
      width:40px;
      height: 45px;
    }

    & #shoppingCart {
      background: url('../../assets/icons/header/shoppingCart.svg') no-repeat;
      width: 46px;
      height: 50px;
      margin-top:-5px;
    }
    & .copyBtn {
      cursor:pointer;
      height:80px;
      width:90%;
      background:none;
      outline:none;
      border:none;
      position:absolute;
      top:0;
      right:-20px;
    }
  }
}
#webshopHeader, #landingPageHeader, #servicePageHeader, #galleryPageHeader {
  padding-top:15px;
}
#landingPageHeader, #servicePageHeader, #galleryPageHeader {
  box-shadow: 0 2px 15px #CCC;
  & #left {
    lost-column:3/5;
  }
  & #right {
     lost-column:2/5;
     & > div {
       lost-column:1/2;
     }
  }
}

/* responsive */
@media (max-width: 1300px) {
  #header {
    & #left,  & #right {
      lost-column:1;
    }
  }
}
@media (width <= 850px) {
  #header {
    & #right {
      & > div {
        lost-column:1/2;
      }
      & > div:nth-of-type(4), & > div:nth-of-type(3) {
        lost-column:1/2;
      }
    }
  }
}
@media (width <= 500px) {
  #header {
    & #left {
      & #logo {
        margin:auto;
      }
      & span {
        text-align:center;
      }
    }
    & #right {
      margin-top:30px;
      /* The lost items in the right column */
      & > div {
        lost-column:1;

        /* The inner div with text */
        & > div {
          margin:auto;
          float:none;
          text-align:center;

          & .copyBtn {
            left:0;
            width:100%;
          }
        }

        & .shoppingCart {
          clear:fix;

          & .container {
            margin:0 auto 20px auto;
            clear:fix;
            width:125px;
          }
        }
        & figure {
          float:none;
          margin:20px auto;
        }
        & button {
          float:none !important;
          margin:auto;
        }
      }
      & > div:nth-of-type(4), & > div:nth-of-type(3) {
        lost-column:1;
      }
    }
  }
  & .searchBar {
    lost-center:70%;
    background: pink;
  }
}
