@import '../global.css';

#footer {
  min-height:400px;
  box-sizing:border-box;
  background:#e6e6e6;
  padding:100px 0;

    /* Lost container */
    & section {
      lost-utility:clearfix;
      lost-center:80%;

      /* Lost items */
      & > div {
        lost-column:1/4;
        box-sizing:border-box;
        margin-bottom:60px;

          /* Logo */
          & figure {
            background: url("../../assets/logo/logo.svg") no-repeat;
            background-size:contain;
            width:170px;
            height:30px;
            margin-top:10px;
          }

          & span {
            margin-top:15px;
            display:block;
            font-size:12pt;
            max-width:150px;
          }

          & p {
            line-height:2;
            font-size:14pt;
            margin-bottom:50px;
          }

          & .info {
            margin-top:20px;
            line-height:1;
          }

          & h3 {
            font-style:italic;
          }
          & button {
            width:80%;
            height:30px;
            padding:0;
            background:none;
            cursor:pointer;
            text-align:left;
            font-size:14pt;
            outline:0;
            border:0;
            margin:-45px 0 50px 0;
          }
          & button:hover {
            color:var(--darkGray);
          }
      }
    }

    & #landingPage {

        & > div {
          lost-column:1/4 0;
        }
        & > div:last-of-type {
          lost-column:2/4 0;

          /* Two rows */
          & > div {
            lost-row:1/2;

            /* The images is columns */
            & > div {
              lost-column:1/2;

              & .staffImg {
                width:90px;
                height:110px;
                background-size:contain;
                float:left;
                margin-right:20px;
              }

              & p {
                margin-top:35px;
                display:block;
                float:left;
              }
            }
          }
        }
    }
}


/* responsive */
@media (width >= 500px) and (width <= 1024px) {

  #footer section > div {
    lost-column:1/2 2 60px;
  }

  #footer #landingPage {
     & > div {
       lost-column:1/2 2;
     }

     & > div:last-of-type {
       lost-column:1;
     }
  }
}

@media (max-width: 500px) {
  #footer section {
    text-align:center;
  }

  #footer section > div {
    lost-column:1;

      & span {
        margin:20px auto 0 auto;
      }
  }

  #footer figure {
    margin:auto;
  }

  #footer span {
    min-width:200px;
  }

  #footer #landingPage {
    & > div {
      lost-column:1;
    }

    & > div:last-of-type {
      lost-column:1;
    }
  }
}
