@import '../global.css';

#footer {
  min-height:300px;
  box-sizing:border-box;
  background:#eee;
  padding:80px 0 40px 0;

    /* Lost container */
    & section {
      lost-utility:clearfix;
      lost-center:80%;

      /* Lost items */
      & > div {
        lost-column:1/4;
        box-sizing:border-box;
        margin-bottom:40px;

        /* Logo */
        & figure {
          background: url("../../assets/logo/logo.svg") no-repeat;
          background-size:contain;
          width:150px;
          height:18px;
          margin:10px 0 30px 0;
        }

        & span {
          display:block;
          max-width:150px;
        }

        & p {
          line-height:2;
          font-size:12pt;
          margin-bottom:50px;
        }

        & .info {
          margin-top:20px;
          line-height:1;
          margin-bottom:20px;
        }

        & h3 {
          font-style:italic;
          margin-bottom:15px;
        }
        & button {
          width:80%;
          height:30px;
          padding:0;
          background:none;
          cursor:pointer;
          text-align:left;
          outline:0;
          border:0;
          margin:-45px 0 50px 0;
        }
        & button:hover {
          color:var(--darkGray);
        }
      }
    }

  & #landingPage {
    /* Om badrumsboden */
    & > div:last-of-type {
      lost-column:2/4 0;

      /* Two rows */
      & > div {
        lost-row:1/2;

        /* The images is columns */
        & > div {
          lost-column:1/2;

          & .staffImg {
            width:90px;
            height:110px;
            background-size:contain;
            margin-right:20px;
          }

          & p {
            margin-top:10px;
          }
        }
      }
    }
  }
}


/* responsive */
@media (width >= 500px) and (width <= 1024px) {

  #footer section > div {
    lost-column:1/2 2 60px;
  }

  #footer #landingPage {
     & > div {
       lost-column:1/2 2;
     }

     & > div:last-of-type {
       lost-column:1;
     }
  }
}

@media (max-width: 500px) {
  #footer section {
    text-align:center;
  }

  #footer section > div {
    lost-column:1;

    & span {
      margin:20px auto 0 auto;
    }
    & p {
      margin-bottom:0;
    }
    & button {
      margin:auto;
      margin-bottom:30px;
      width:170px;
    }
  }

  #footer figure {
    margin:auto;
  }

  #footer span {
    min-width:200px;
  }

  #footer #landingPage {
    & > div {
      lost-column:1;
    }

    & > div:last-of-type {
      lost-column:1;
    }
  }
}
