@import '../../global.css';

#productMenu {
    line-height: 1.5;

    /* The menu items */
    & > div {
      cursor:pointer;

      /* The list head with blue color */
      & .listHead {
        lost-utility:clearfix;

        & > div {
          lost-column:9/9 0 0;
          font-size:12pt;
          color:#fff;
          padding:7px 20px;
          box-sizing: border-box;
        }
      }

      /* The list with the sub-categories */
      & ul {
        line-height: 30px;
        list-style-type: none;
        overflow: hidden;
        margin:0;
          & li {
            padding:4px 10px 1px 20px;
          }
          & li:nth-of-type(odd) {
            background:#fff;
          }
          & li:nth-of-type(even) {
            background:var(--adminListLightGray);
          }
          & li:hover {
            background: #ccc;
          }
          & li:nth-of-type(odd).active {
            background:#ccc;
          }
          & li:nth-of-type(even).active {
            background:#ccc;
          }
      }
    }

    /* The odd's and even's of the .listHead */
    & > div:nth-of-type(odd) > div {
      /* Have a blue background */
      & > div {
        background:var(--adminMenuBlueOdd);
      }
      /* And when you hover only the text, it changes */
      & > div:hover {
        background:var(--adminMenuBlueHover);
      }
    }
    & > div:nth-of-type(even) > div {
      & > div {
        background:var(--adminMenuBlueEven);
      }
      & > div:hover {
        background:var(--adminMenuBlueHover);
      }
    }

    /* The yellow top sellers menu item */
    & > div:last-of-type > div {
      & > div {
        margin-top:30px;

        background:#EAD168;
        color:#666;
        & h4 {
          margin:0;
        }
      }
      & > div:hover {
        background:#CEB85D;
      }
    }
}
