#header {
  height: 105px;
  min-width:900px;
  margin: 25px 72px 0 72px;
}

#left,#right {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#logo, #left span {
  display: block;
  cursor: pointer;
}
#left span img {
  margin-right:7px;
}
#left span {
  margin-bottom: 10px;
}
#right h4 {
  margin:0;
}

#left {
  float:left;
}
#right {
  float:right;
}

#right > div {
  word-wrap: break-word;
  float:left;
}
#right div:not(:first-of-type) {
  margin-left:50px;
}

#right > div img {
  margin:10% 10% 10% 0;
  float:left;
}
#right > div span {
  color:#019A3F;
}
#right > div .text {
  width:170px;
  margin-top:10%;
}
#text {
  width:700px;
  font-size:responsive;
}
