@import '../../node_modules/normalize.css/normalize.css';

/* Set the global colors for the Badrumsboden */
:root {
  --orange: #FD551F;
  --lightBlue: #A9DDD6;
  --lightGreen: #A7D49B;
  --darkGreen: #019A3F;
}

body {
  margin:0;
  padding:0;
  font-size:12pt;
  color:#333;
  lost-utility: edit;
}

h1, h2, h3, h4 {
  margin: 0 0 5% 0;
}

h1 {
  font-size: 50pt;
}
h2 {
  font-size:30pt;
}
h3 {
  font-size:24pt;
}
h4 {
  font-size:18pt;
}
p {
  font-size:16pt;
}
