@import '../global.css';

#header {
  min-height: 105px;
  margin: 25px 0px 0 72px;
  clear: fix;
}
#left {
  float:left;

    & span, & #logo {
      display: block;
      cursor: pointer;
    }

    & span {
      margin-bottom: 10px;
    }

    & span img{
      margin-right:7px;
    }
}

#right {
  float:right;

    & h4 {
      margin: 10px 0 4px 0;
    }

    & > div {
      float:left;
      min-width: 250px;
    }

    & div:first-of-type p {
      font-size: 10pt;
    }

    & img {
      margin:10% 10% 10% 0;
      float:left;
    }

    & span {
      color:var(--darkGreen);
    }

    & .text {
      width:170px;
      margin-top:10%;
    }
}
