@import '../global.css';
#formFields {  
  /* The react-tooltip div */
  & .show {
    font-size:12pt;
    color:#666;
  }

  /* The next and previous arrow */
  & .arrowHolder {
    lost-column:1/11 0 0;

    & .arrow {
      background:url(../../assets/arrows/orange_arrow_next.svg) no-repeat;
      width:40px;
      height:60px;
      cursor:pointer;
      margin:100px auto;
    }
    & .arrow:hover {
      background:url(../../assets/arrows/orange_arrow_next_hover.svg) no-repeat;
    }
    & .arrow:active {
      background:url(../../assets/arrows/orange_arrow_next_click.svg) no-repeat;
    }
    & .previous {
       transform: rotate(180deg);
    }
    & .empty {
      width:40px;
      height:60px;
    }
  }

  /* The form fields */
  & .inputHolder {
    lost-column:9/11 0 0;

    & form {
      /* The submit button in the end */
      & button {
        float:right;
        font-size:10pt;
      }
      /* The wrapper holding the three columns of fields */
      & .fieldWrapper.three {
        & > div {
          lost-column: 1/3 0 15px;
        }
      }
      /* The wrapper of the fields */
      & .fieldWrapper {
        & > div {
          lost-column:1/2 0 6%;

          & h4 {
            margin-bottom:5px;
            float:left;

            & span {
              font-size:12pt;
            }
          }
          & .tooltipFormFields {
            clear:fix;
          }
          /* The tooltip question mark */
          & figure {
            background:url('../../assets/icons/services/questionmark.svg') no-repeat;
            width:20px;
            height:20px;
            margin:0;
            float:right;
            cursor:pointer;
          }
          & figure:hover {
            background:url('../../assets/icons/services/questionmark_h.svg') no-repeat;
          }
          & .checkboxes {
            margin:0 0 25px 0;
            lost-utility:clearfix;
            box-sizing: border-box;
            /* Every checkbox in checkboxes is a lost item */
            & > div {
              lost-column:1/2 0 0;
            }
          }
          & .half {
            min-height:80px;
          }
        }
      }
    }
  }
}
