@import '../global.css';

#mobileServicePage {
  lost-center:100%;
  background: url('../../assets/images/landingPage/badrum1_2.jpg') no-repeat center;
  background-size: cover;
  & > div {
    lost-column:1;
    text-align: center;
    padding:30px;
    box-sizing: border-box;

    & h4 {
      color:white;
      margin:10px 0;
      font-size:responsive;
    }
    & p {
      font-size:responsive;
      color:white;
    }
  }
  & #badrum {
    background: #A9DDD6;
    background: color(#A9DDD6 alpha(80%));

    & figure {
      background:url(../../assets/icons/services/wrench.svg) no-repeat;
      width:50px;
      height:37px;
      display:inline-block;
    }
  }
  & #vvs {
    background: #A7D49B;
    background: color(#A7D49B alpha(80%));

    & figure {
      background:url(../../assets/icons/services/tap.svg) no-repeat;
      width:40px;
      height:50px;
      display:inline-block;
    }
  }
  & #info {
    background:#FD551F;
    background: color(#FD551F alpha(75%));
    & h4 {
      font-weight: bold;
    }
  }
}

@media (width >= 750px) {
  #mobileServicePage {
    display:none;
  }
}
