@import '../global.css';

#priceCalc {
    /* Top section, the progressbar and the circle */
    & section:first-of-type {
      padding:40px 5% 50px 5%;
      box-sizing: border-box;
      lost-utility:clearfix;

        /* The circle */
        & > div:nth-of-type(1) {
          float:left;
          width:100px;
          height:100px;
        }
    }

    /* Lost container bottom, the form fields */
    & section:nth-of-type(2) {
      lost-utility:clearfix;
      box-sizing:border-box;
      padding-bottom:40px;
      margin:0 1% 0 5%;
        & h2 {
          margin-bottom:20px;
        }
        /* The first lost item with the text */
        & > div:nth-of-type(1) {
          lost-column:4/15 0 1%;
        }
        /* The whole form field area with arrows */
        & > div:nth-of-type(2) {
          lost-column:11/15 0 1%;
        }
    }
}

/* Responsive */
@media (width <= 1100px) {
  #progressBar {
    width:70%;
  }

  #priceCalc {
    background-size: cover;
  }
}

@media (width <= 800px) {
  #priceCalc {
    display:none;
  }
}
