@import '../global.css';

#priceCalc {
    /* Top section, the progressbar and the circle */
    & section:first-of-type {
      padding:50px 5% 50px 5%;
      box-sizing: border-box;

        /* The progress bar */
        & > div:nth-of-type(2) {
          margin:0 100px 0 0;
          float:right;
          text-align: center;
        }
    }

    /* Lost container bottom, the form fields */
    & section:nth-of-type(2) {
      lost-utility:clearfix;
      box-sizing:border-box;
      padding-bottom:60px;
      margin:0 1% 0 5%;

        /* The first lost item with the text */
        & > div:nth-of-type(1) {
          lost-column:4/15 0 1%;
        }
        /* The whole form field area with arrows */
        & > div:nth-of-type(2) {
          lost-column:11/15 0 1%;
        }
    }
}

/* Responsive */
@media (width <= 1100px) {
  #progressBar {
    width:70%;
  }

  #priceCalc {
    background-size: cover;
  }
}

@media (width <= 800px) {
  /* Fields */
  #priceCalc section:nth-of-type(2) > div:not(last-of-type) {
    lost-column:1;
  }
  /* Arrow */
  #priceCalc section:nth-of-type(2) > div:last-of-type {
    lost-column:1;
  }

  #priceCalc .next {
    margin:20px auto 50px auto;
  }
}

@media (width <= 600px) {
  #priceCalc #progressBar p {
    display:none;
  }
}

@media (max-width: 435px) {
  #progressBar {
    width:100%;
    margin:0;
  }
  #priceCalc section:first-of-type {
    padding-bottom:0;
  }
}
