@import '../global.css';

#priceCalc {

    /* Top section */
    & section:first-of-type {
      padding:50px 5%;

        & > div:nth-of-type(2) {
          margin-top:30px;
          float:right;
        }
    }

    /* Lost container bottom */
    & section:nth-of-type(2) {
      lost-utility:clearfix;
      box-sizing:border-box;
      lost-center:90%;

        /* First three lost-items are 9/10 */
        & > div:not(last-of-type) {
          lost-column:3/10 0 6%;
        }

        /* The arrow is 1/10 */
        & > div:last-of-type {
          lost-column:1/10 0 6%;
        }
    }

    & .next {
      background:url(../../assets/icons/services/orange_arrow_next.svg) no-repeat;
      width:49px;
      height:77px;
      cursor:pointer;
      margin:120px auto;
    }

    & .next:hover {
      background:url(../../assets/icons/services/orange_arrow_next_hover.svg) no-repeat;
    }

    & .next:active {
      background:url(../../assets/icons/services/orange_arrow_next_click.svg) no-repeat;
    }
}

/* Responsive */
@media (width <= 1100px) {
  #progressBar {
    width:70%;
  }

  #priceCalc {
    background-size: cover;
  }
}

@media (width <= 800px) {
  /* Fields */
  #priceCalc section:nth-of-type(2) > div:not(last-of-type) {
    lost-column:1;
  }
  /* Arrow */
  #priceCalc section:nth-of-type(2) > div:last-of-type {
    lost-column:1;
  }

  #priceCalc .next {
    margin:20px auto 50px auto;
  }
}

@media (width <= 600px) {
  #priceCalc #progressBar p {
    display:none;
  }
}

@media (max-width: 435px) {
  #progressBar {
    width:100%;
  }
  #priceCalc section:first-of-type {
    padding-bottom:0;
  }
}
