@import '../global.css';

#progressBar {
  lost-utility:clearfix;
  box-sizing:border-box;
  width:50%;
  margin:0 130px 0 0;
  float:right;
  text-align:center;
  clear:fix;

  & h4 {
    margin:0;
    font-weight: bold;
    border-bottom:1px solid lightgrey;
    padding-bottom:15px;
  }

  & > div {
    lost-column:1/6 0;
    height:60px;
    margin:15px 0 0 0;

      & p {
        margin:10px 0 0 -20px;
        font-size:12pt;
      }

      /* The white circles */
      & > div {
        border-radius: 50%;
        user-select:none;
        padding:5px;
        box-sizing:border-box;
        width: 25px;
        height: 25px;
        margin-left:30px;
        background-color: white;

          /* The orange circles */
          & figure {
            border-radius: 50%;
            user-select:none;
            cursor:default;
            width: 15px;
            height: 15px;
            background-color: var(--orange);
          }
      }
  }
}
