@import '../global.css';

#services {
	/* The dropdown effect of the priceCalc */
	& .dropDown-enter {
		height:0;
		overflow: hidden;
	}
	& .dropDown-enter.dropDown-enter-active {
		height:1000px;
		transition: height 500ms ease-in;
	}
	& .dropDown-leave {
		height: 1000px;
	}
	& .dropDown-leave.dropDown-leave-active {
		height:0;
		overflow: hidden;
		transition: height 500ms ease-out;
	}

	& .serviceForm {
	  box-sizing:border-box;
	  background-color:var(--mediumGray);
	  background-repeat: no-repeat;
		box-shadow: 0 3px 15px 0px #ccc;
	    & h3 {
				font-size:20pt;
	      margin-bottom:5px;
	    }

			& .container {
				transition: opacity 400ms;
			}
	    & .circle {
	      display: flex;
	      align-items: center;
	      justify-content: center;
	      border-radius: 50%;
	      width: 100px;
	      height: 100px;
	      background-color:#FC8060;
	      color:white;
	      text-align:center;
	      font-weight: bold;
	      user-select:none;
	      cursor:default;
	      transform: rotate(-10deg);
	    }
			& input {
				width:100%;
				padding:8px;
				margin-bottom:25px;
			}

			& textarea {
				min-width:100%;
				max-width:100%;
				min-height:230px;
				padding:15px;
				box-sizing: border-box;
				margin-bottom:30px;
			}
			& select {
				width:100%;
				height:35px;
				padding-left:10px;
				margin-bottom:30px;
			}
	}
}
