@import '../global.css';

.serviceSelector {
  background: url(../../assets/images/landingPage/badrum1_2.jpg) no-repeat;
  background-position:center;
  height:350px;
  background-repeat:no-repeat;
  background-size:cover;
  lost-utility:clearfix;
  box-sizing:border-box;
  text-align:center;
  color:white;
  overflow: hidden;
  box-shadow: var(--defaultShadow);

    /* The two skewed containers */
    & > div {
      transform: skew(-20deg);
      position: relative;
      lost-column: 1/2 0 0;
      width:60%;
      min-height:350px;
      cursor:pointer;
      box-sizing: border-box;
      transition: 400ms;

      /* The orange button */
      & button {
        background:color(#FD551F alpha(80%));
      }
      & button:hover {
        background:color(#FD551F alpha(80%) shade(10%));
      }
      & button:active {
        background:color(#FD551F alpha(80%) shade(20%));
      }
      /* The inner content div */
      & > div:nth-of-type(1) {
        transform: skew(20deg);
        user-select:none;
        lost-utility:clearfix;
        & h4 {
          padding:10px 20% 0 20%;
        }
        & span {
          display:inline-block;
          margin-top:20px;
        }
        & #mainInfo {
          display: table;
          height:350px;
          & > div {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            /* the read more text */
            & > div {
              background-color:color(#9FC5C1 alpha(-20%) shade(20%));
              padding:5px 0;
              width:150px;
              display:inline-block;
            }
            & .right {
              background-color:color(#9FC198 alpha(-20%) shade(20%));
            }
          }
        }
      }
      & .expandedInnerContent {
        /* The inner content first column */
        & #mainInfo {
          lost-column:3/5 0 0;
        }
        /* The inner content second column */
        & #description {
          lost-column:2/5 0 0;
          display:table;
          height:350px;
          font-size:12pt;
          & > div {
            display:table-cell;
            vertical-align: middle;
          }
          & button {
            margin:30px auto 0 auto;
            font-size:10pt;
          }
        }
      }
      & .border {
        position: absolute;
        top:0;
        width: 40px;
        height: 400px;
        z-index: 10;
        transition: 500ms;
      }
    }

    /* The left, blue service field. This div is pushed out of
     * the window by 10% (this works becuase the div is 60% wide)
     * and then pushes the content inside 6% because then the content
     * appears to be centered by the skew */
    & > div:nth-of-type(1) {
      background-color:rgba(#7FA59F ,0.8);
      margin-left:-10%;
      padding-left: 6%;
      & .expandedInnerContent {
        padding-right:12%;
      }
      /* Inner content */
      & > div:nth-of-type(1) {
        & figure {
          background:url(../../assets/icons/services/wrench.svg) no-repeat;
          width:85px;
          height:63px;
          margin:0 auto 40px auto;
        }
        /* The link */
        & span {
          color:#536B67;
        }
        & span:hover {
          color:#374744;
        }
      }
      & .border {
        background-color:rgba(#6F8986,0.8);
        right: 0;
      }
    }

    /* The right, green service field. This div is pushed out of
     * the window by 10% (this works becuase the div is 60% wide)
     * and then pushes the content inside 6% because then the content
     * appears to be centered by the skew */
    & > div:nth-of-type(2) {
      background-color:rgba(#77936F, 0.8);
      margin-right:-10%;
      padding-right: 6%;
      & h2 {
        letter-spacing: 2px;
        & span {
          letter-spacing: normal;
        }
      }
      & .border {
        background-color:rgba(#72876C,0.8);
        left: 0;
      }
      & .expandedInnerContent {
        padding-left:12%;
      }
      /* The inner content */
      & > div:nth-of-type(1) {
        & figure {
          background:url(../../assets/icons/services/tap.svg) no-repeat;
          width:60px;
          height:75px;
          margin:0 auto 30px auto;
        }
      }
    }

    & .standard {
      & #mainInfo {
        width:100%;
      }
    }
    & .expanded {
      width:99%;
    }
    & .minimized {
      width:20%;

      & figure {
        width:50px;
        height:50px;
        transform: skew(20deg);
      }
    }
    & .left.minimized {
      background-color:rgba(#8CB5AE, 0.8);
      & figure {
        margin:150px auto 0 auto;
        background: url(../../assets/arrows/expandArrowRight.svg) no-repeat;
      }
    }
    /* When hovering the minimized left and the standard left skewed div */
    & .left.minimized:hover, & .left.standard:hover {
      background-color:color(#9FC5C1 alpha(-20%) shade(25%));
      & .border {
        background-color:color(#9FC5C1 alpha(-20%) shade(40%));
      }
    }
    & .right.minimized {
      background-color:rgba(#8FAF84,0.8);
      & figure {
        margin:170px auto 0 auto;
        background: url(../../assets/arrows/expandArrowLeft.svg) no-repeat;
      }
    }
    /* When hovering the minimized right and the standard right skewed div */
    & .right.minimized:hover, & .right.standard:hover {
      background-color:color(#9FC198 alpha(-20%) shade(30%));
      & .border {
        background-color:color(#9FC198 alpha(-20%) shade(35%));
      }
    }
    & .hidden {
      display: none;
    }
}

@media (width <= 1024px) {
  .serviceSelector {
    & > div {
      & .expandedInnerContent {
        & #description {
          & p {
            font-size:responsive;
          }
        }
      }
    }
  }
}

@media (width <= 1024px) {
  .serviceSelector {
    & > div {
      & .expandedInnerContent {
        & #mainInfo {
          & h2 {
            font-size:responsive;
          }
          & h4 {
            font-size:responsive;
          }
        }
        & #description {
          & p {
            font-size:10pt;
          }
          & button {
            padding:8px 15px;
          }
        }
      }
    }
  }
}

@media (width <= 750px) {
  .serviceSelector {
    display:none;
  }
}
