@import '../../global.css';

#addProduct {
  & .btn {
    text-align: center;
    font-size:16pt;
    margin:20px 10px;
    float:left;
  }

  /* The add product fields, where you add new products */
  & .addProductField {
    background:#888;
    color:white;
    lost-utility:clearfix;
    padding:30px 20px;
    box-sizing: border-box;

      /* The fields consists of two columns, the sections */
      & section {
        lost-column:1/2 2 15px;

        & p {
          font-size:14pt;
          margin-bottom:5px;
        }
        & textarea {
          width:99%;
          min-height:120px;
        }
        /* The first section contains 4 divs in a waffle grid */
        & > div {
          lost-waffle:1/2 2 15px;

          & input {
            font-size:14pt;
            padding:10px;
            width:95%;
          }
        }
      }
  }

  & > div:nth-of-type(even) {
    background:#666;
  }
}
