@import '../../global.css';

#productTable {
  font-size:10pt;
  & figure {
    width:20px;
    height:20px;
    float:left;
    margin-left:15px;
    cursor:pointer;
  }
  & .pencil {
    background: url('../../../assets/icons/admin/pencil.svg');
  }
  & .trash {
    background: url('../../../assets/icons/admin/trash.svg');
    width:18px;
  }
  & .star {
    background: url('../../../assets/icons/admin/star.svg');
    width:25px;
    height:23px;
  }
  & .filled {
    background: url('../../../assets/icons/admin/star_filled.svg');
    width:25px;
    height:23px;
  }
}
