@import '../../global.css';

#productMenu {
    line-height: 1.5;

    & > div {
      & h4 {
        font-size:16pt;
        color:#fff;
        padding:7px 20px;
        margin:0;
      }

      & ul {
        line-height: 30px;
        list-style-type: none;
        overflow: hidden;
        margin:0;
        height:0;
        transition: height 1s ease;

          & a:nth-of-type(odd) {
            & li {
              background:#fff;
            }
          }
          & a:nth-of-type(even) {
            & li {
              background:#f6f7f8;
            }
          }
      }

      & li {
        padding:6px 25px;
      }
      & li:hover {
        background: #999;
      }

    }

    & > div:active {
      & ul {
        height:auto;
      }
    }

    /* The blue background of the h4's */
    & > div:nth-of-type(odd) {
      & h4 {
        background:#56696D;
      }
      & h4:hover {
        background:#475759;
      }
    }
    & > div:nth-of-type(even) {
      & h4 {
        background:#677F89;
      }
      & h4:hover {
        background:#53666D;
      }
    }

    /* The top sellers menu item */
    & #yellow {
      & h4 {
        background:#EAD168;
        color:#666;
        margin-top:80px;
      }
      & h4:hover {
        background:#CEB85D;
      }
    }
}
