@import '../global.css';

#adminHeader {
  background:#4D4D4D;

    & #lostItems {
      lost-utility:clearfix;

        /* All three lost items, the logo and the buttons */
        & > div {
          lost-column:1/4 0 0;
          box-sizing:border-box;
          padding:30px;
          text-align:center;

            & h2 {
              font-style:normal;
              color:white;
            }
        }

        /* First lost item */
        & > div:nth-of-type(1) {
          lost-column:2/4 0 0;
          padding:45px 0 0 8%;

            & #logo {
              background:url("../../assets/logo/logo.svg") no-repeat;
              width:177px;
              height:31px;
            }
        }

        /* The two other lost items, the buttons */
        & > div:not(:first-of-type) {
          cursor:pointer;
        }
        & > div:not(:first-of-type):hover {
          background:#333;
        }

        /* Second lost item */
        & > div:nth-of-type(2) {

        }


        /* Third lost item */
        & > div:nth-of-type(3) {
        }
    }
}
