@import '../global.css';

#adminHeader {
  background:#4D4D4D;

    & #lostItems {
      lost-utility:clearfix;

        /* All three lost items, the logo and the two buttons */
        & > div {
          lost-column:1/4 0 0;
          box-sizing:border-box;
          padding:25px;
          text-align:center;

            & h3 {
              font-style:normal;
              color:white;
              margin:0;
            }
        }

        /* First lost item, the badrumsboden-logo */
        & > div:nth-of-type(1) {
          lost-column:2/4 0 0;
          padding:28px 0 0 0;

          & button {
            font-size:9pt;
            padding:8px 20px;
            margin:-3px 20px 0 5%;
            float:left;
          }
          & #logo {
            background:url("../../assets/logo/logo.svg") no-repeat;
            width:177px;
            height:31px;
            float:left;
          }
        }

        /* The two other lost items, the buttons */
        & > div:not(:first-of-type) {
          cursor:pointer;
          user-select:none;
        }

        /* When the buttons are clicked they get custom backgrounds */
        & .yellow {
          background:var(--lightYellow);
        }
        & .yellow:hover {
          background:#CCB65C;
        }
        & .yellow:active {
          background:#B2A052;
        }
        & .bluegreen {
          background: url(../../assets/icons/admin/bluegreen.svg) no-repeat;
          background-size: cover;
        }
        & .bluegreen:hover {
          background: url(../../assets/icons/admin/bluegreen_h.svg) no-repeat;
          background-size: cover;
        }
        & .bluegreen:active {
          background: url(../../assets/icons/admin/bluegreen_a.svg) no-repeat;
          background-size: cover;
        }
        & .passive:hover {
          background:#333;
        }
    }
}
