@import '../global.css';

#departmentPicker {
  box-shadow: 0 5px 15px 2px #CCC;
  min-height:350px;

  & > section {
    lost-utility:clearfix;
    padding-top:130px;
    box-sizing: border-box;
    color:#fff;

    /* Lost items */
    & > div {
      lost-column:1/2;
      cursor:pointer;
      min-width:300px;
      max-width:450px;
      height:80px;
      text-align: center;
      position: relative;
      user-select:none;

        & h1 {
          font-size:40pt;
          margin:5px 20% 0 0;
        }

        /* The box area containing the arrow */
        & > div {
          width:100px;
          height:80px;
          box-sizing: border-box;
          padding:18px 35px;
          position: absolute 0 0 auto auto;

          /* The arrow */
          & figure {
            width:37px;
            height:44px;
          }
        }
    }

    /* Webshop button */
    & > div:first-of-type {
      background:var(--lightYellow);

      /* The background of the arrow */
      & > div {
        background: color(#EAD168 alpha(80%) shade(10%));
      }
      /* The arrow */
      & figure {
        background:url(../../assets/arrows/yellow_btn_arrow.svg) no-repeat;
      }
    }
    & > div:first-of-type:hover {
      background:color(#EAD168 alpha(80%) shade(5%));
      & > div {
        background: color(#EAD168 alpha(80%) shade(15%));
      }
    }
    & > div:first-of-type:active {
      background:color(#EAD168 alpha(80%) shade(10%));
      & > div {
        background: color(#EAD168 alpha(80%) shade(20%));
      }
    }

    /* Services button */
    & > div:nth-of-type(2) {
      background:url(../../assets/buttons/service_btn_bg.svg) no-repeat #A7D49B;
      & figure {
        background:url(../../assets/arrows/green_btn_arrow.svg) no-repeat;
      }
      /* The background of the arrow */
      & > div {
        background: color(#A7D49B alpha(80%) shade(10%));
      }
    }
    & > div:nth-of-type(2):hover {
      background:url(../../assets/buttons/service_btn_bg_h.svg) no-repeat #9AC18F;
      & > div {
        background: color(#A7D49B alpha(80%) shade(15%));
      }
    }
    & > div:nth-of-type(2):active {
      background:url(../../assets/buttons/service_btn_bg_a.svg) no-repeat #91B286;
      & > div {
        background: color(#A7D49B alpha(80%) shade(20%));
      }
    }
  }
}

/* Responsive */
@media (width > 1400px) {
  #departmentPicker {
    & > section {
      lost-center:60%;
    }
  }
}

@media (width <= 1100px) {
  #departmentPicker {
    & > section {
      lost-center:90%;

      & > div {
        min-width:250px;

        & h1 {
          font-size:28pt;
          margin-top:17px;
        }
      }
    }
  }
}

@media (width <= 700px) {
  #departmentPicker {
    & > section {
      lost-center:90%;

      & > div {
        min-width:100%;
        lost-column:1;
      }
    }
  }
}

@media (width <= 400px) {
  #departmentPicker {
    & > section {
      & > div {
        & h1 {
          font-size:20pt;
          margin:25px 30% 0 0;
        }
      }
    }
  }
}
