@import '../global.css';

#welcomeInfo {
  min-height:500px;
  background:url('../../assets/images/landingPage/badrum1_2.jpg') no-repeat center;
  background-size: cover;
  padding:40px 0 60px 0;
  box-sizing: border-box;
  box-shadow: var(--defaultInsetShadow);
  & h3 {
    text-align: center;
    margin-bottom:10px;
  }
  & .headP {
    text-align: center;
    margin-bottom:30px;
    padding:0 15%;
    line-height: 1.5;
    font-size:10pt;
  }
  & section {
    lost-center:80%;

    & .heading {
      box-sizing: border-box;
      padding:9px 0;
      cursor:pointer;
      & h2 {
        font-size:18pt;
        margin:0;
        color:white;
        font-style: normal;
      }
    }

    /* The lost columns */
    & > div {
      lost-column:1/2 0 4%;
      box-sizing: border-box;
      text-align: center;

      /* The inner content */
      & .content {
        padding:25px 40px 35px 40px;
        box-sizing: border-box;
        background: color(#fff alpha(90%));
        color:var(--darkGray);
        line-height: 1.2;
        & .text {
          min-height:155px;
          box-sizing: border-box;
        }
        & .webshopText {
          padding-top:15px;
        }
        & .subHeading {
          clear:fix;
          display:inline-block;
          margin-bottom:2px;
          & figure {
            width:12px;
            height:12px;
            background: var(--lightBlue);
            float:left;
            margin:5px 10px 0 0;
          }
          & .green {
            background: var(--lightGreen);
          }
          & h4 {
            font-size:12pt;
            font-weight: bold;
            float:left;
            margin-top:1px;
          }
        }
        & .subHeading:last-of-type {
          margin-top:5px;
        }

        & .arrowButton {
          cursor:pointer;
          height:40px;
          display: inline-block;
          text-align: center;
          position: relative;
          user-select:none;
          margin:30px auto 0 auto;
          box-shadow: 0 2px 10px #CCC;
          color:white;
          padding:6px 80px 6px 30px;
          box-sizing: border-box;

          /* The box area containing the arrow */
          & > div {
            width:55px;
            height:40px;
            box-sizing: border-box;
            padding:5px 18px;
            position: absolute 0 0 auto auto;

            /* The arrow */
            & figure {
              width:25px;
              height:32px;
            }
          }
        }

        /* Webshop button */
        & .webshop {
          background:var(--lightYellow);

          /* The background of the arrow */
          & > div {
            background: color(#EAD168 alpha(80%) shade(10%));
          }
          /* The arrow */
          & figure {
            background:url(../../assets/arrows/yellow_btn_arrow.svg) no-repeat;
          }
        }
        & .webshop:hover {
          background:color(#EAD168 alpha(80%) shade(5%));
          & > div {
            background: color(#EAD168 alpha(80%) shade(15%));
          }
        }
        & .webshop:active {
          background:color(#EAD168 alpha(80%) shade(10%));
          & > div {
            background: color(#EAD168 alpha(80%) shade(20%));
          }
        }

        /* Services button */
        & .services{
          background:url(../../assets/buttons/service_btn_bg.svg) no-repeat #A7D49B;
          background-size: contain;
          & figure {
            background:url(../../assets/arrows/green_btn_arrow.svg) no-repeat;
          }
          /* The background of the arrow */
          & > div {
            background: color(#A7D49B alpha(80%) shade(7%));
          }
        }
        & .services:hover {
          background:url(../../assets/buttons/service_btn_bg_h.svg) no-repeat #9AC18F;
          background-size: contain;
          & > div {
            background: color(#A7D49B alpha(80%) shade(12%));
          }
        }
        & .services:active {
          background:url(../../assets/buttons/service_btn_bg_a.svg) no-repeat #91B286;
          background-size: contain;
          & > div {
            background: color(#A7D49B alpha(80%) shade(20%));
          }
        }
      }
    }

    /* Webshop heading */
    & > div:nth-of-type(1) {
      & .heading {
        background:color(#DDBE3A alpha(60%));
      }
    }
    /* Service heading */
    & > div:nth-of-type(2) {
      & .heading {
        background:url(../../assets/buttons/service_btn_bg2.svg) no-repeat center;
        background-size: cover;
      }
    }
  }
}
@media (width >= 1300px) {
  #welcomeInfo {
    & section {
      lost-center:70%;
    }
  }
}
@media (width <= 1000px) {
  #welcomeInfo {
    & section {
      lost-center:90%;
    }
  }
}
@media (width <= 800px) {
  #welcomeInfo {
    & section {
      & > div {
        lost-waffle:1;
      }
    }
  }
}
@media (width <= 400px) {
  #welcomeInfo {
    & section {
      & > div {
        & .content {
          & .arrowButton {
            width:100%;
            padding:6px 55px 6px 10px;
            & h3 {
              margin-top:5px;
              font-size:12pt;
            }
          }
        }
      }
    }
  }
}
