@import '../global.css';

#welcomeInfo {
  min-height:600px;
  background:url('../../assets/images/landingPage/badrum1_1.jpg') no-repeat center;
  background-size: cover;
  padding:40px 5% 40px 5%;
  box-sizing: border-box;

  & h2 {
    text-align: center;
    margin-bottom:35px;
    font-style: normal;
  }
  & section {
    lost-center:70%;
    margin-bottom:40px;

    & .heading {
      box-sizing: border-box;
      padding:15px 0;
      cursor:pointer;
      & h3 {
        font-size:26pt;
        margin:0;
        color:white;
      }
    }

    /* The lost columns */
    & > div {
      lost-column:1/2 0 5%;
      box-sizing: border-box;
      height:300px;
      text-align: center;

      /* The inner content */
      & #webshop {
        padding-top:45px;
      }
      & .content {
        padding:40px;
        box-sizing: border-box;
        background: color(#fff alpha(90%));
        color:var(--darkGray);
        line-height: 1.4;

        & .subHeading {
          clear:fix;
          width:165px;
          margin:0 auto;

          & figure {
            width:12px;
            height:12px;
            background: var(--lightBlue);
            float:left;
            margin:5px 10px 0 0;
          }
          & .green {
            background: var(--lightGreen);
          }
          & h4 {
            font-size:12pt;
            font-weight: bold;
            float:left;
          }
        }
        & .subHeading:nth-of-type(2) {
          width:105px;
        }

        & p {
          font-size:12pt;
        }

        & .arrowButton {
          cursor:pointer;
          height:45px;
          width:75%;
          text-align: center;
          position: relative;
          user-select:none;
          margin:40px auto 0 auto;
          box-shadow: 0 2px 10px #CCC;
          color:white;
          padding-top:5px;
          box-sizing: border-box;

          & h3 {
            font-size:18pt;
            margin:0 20% 0 0;
          }

          /* The box area containing the arrow */
          & > div {
            width:60px;
            height:45px;
            box-sizing: border-box;
            padding:8px 22px;
            position: absolute 0 0 auto auto;

            /* The arrow */
            & figure {
              width:25px;
              height:32px;
            }
          }
        }

        /* Webshop button */
        & .webshop {
          background:var(--lightYellow);

          /* The background of the arrow */
          & > div {
            background: color(#EAD168 alpha(80%) shade(10%));
          }
          /* The arrow */
          & figure {
            background:url(../../assets/arrows/yellow_btn_arrow.svg) no-repeat;
          }
        }
        & .webshop:hover {
          background:color(#EAD168 alpha(80%) shade(5%));
          & > div {
            background: color(#EAD168 alpha(80%) shade(15%));
          }
        }
        & .webshop:active {
          background:color(#EAD168 alpha(80%) shade(10%));
          & > div {
            background: color(#EAD168 alpha(80%) shade(20%));
          }
        }

        /* Services button */
        & .services{
          width:70%;
          background:url(../../assets/buttons/service_btn_bg.svg) no-repeat #A7D49B;
          background-size: contain;
          & figure {
            background:url(../../assets/arrows/green_btn_arrow.svg) no-repeat;
          }
          /* The background of the arrow */
          & > div {
            background: color(#A7D49B alpha(80%) shade(10%));
          }
        }
        & .services:hover {
          background:url(../../assets/buttons/service_btn_bg_h.svg) no-repeat #9AC18F;
          background-size: contain;
          & > div {
            background: color(#A7D49B alpha(80%) shade(15%));
          }
        }
        & .services:active {
          background:url(../../assets/buttons/service_btn_bg_a.svg) no-repeat #91B286;
          background-size: contain;
          & > div {
            background: color(#A7D49B alpha(80%) shade(20%));
          }
        }
      }
    }

    /* Webshop heading */
    & > div:nth-of-type(1) {
      & .heading {
        background:color(#DDBE3A alpha(60%));
      }
    }
    /* Service heading */
    & > div:nth-of-type(2) {
      & .heading {
        background:url(../../assets/buttons/service_btn_bg2.svg) no-repeat center;
        background-size: cover;
      }
    }
  }
}

@media (width <= 500px) {
  #welcomeInfo {
    display:none;
  }
}
