@import '../../global.css';

#adminGallery {

  & #container {
    /* The sections holding each gallery category "kök, badrum" */
    & > section:nth-of-type(odd) {
      background:var(--lightGray);
    }
    & > section:nth-of-type(even) {
      background:var(--mediumGray);
    }
    & > section {
      padding:40px 5%;
      box-sizing: border-box;
      clear:fix;
      & h3 {
        font-weight: bold;
        margin-bottom:15px;
      }
      & p {
        margin-bottom:10px;
      }
      & #imageUploadContainer {
        width:40%;
        margin-bottom:20px;
      }
      & .infoText {
        font-size:12pt;
        text-align: center;
        margin-bottom:20px;
      }

      & .lostContainer {
        margin:0 0 30px -20px;
        border-bottom: 1px solid #ccc;
        padding-bottom:40px;
        /* All the images in the gallery */

        & > div {
          display:inline-block;
          box-sizing: border-box;
          position: relative;
          margin-left:20px;
          & figure {
            width:170px;
            height:170px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            cursor:pointer;
          }
          & .delete {
            display: none;
            padding:15px 0;
            width:170px;
            box-sizing: border-box;
            position:absolute;
            bottom:0;
          }
        }
        /* Show the delete button when hovering */
        & > div:hover {
          & .delete {
            display: block;
          }
        }
      }
    }
  }
}
